#city1, #city {
  font-weight: bold;
  font-size: 30px;
}

body {
  background-image: linear-gradient(
    to right,
    #2690e1,
    #00aff6,
    #00c9e2,
    #00dea9,
    #12eb54
  );
}

.header {
  margin: 2rem;
}


#date{
    float:left;
}

#icon{
    max-width: 100%;
    height: 8rem;
    float: right;
}

#city{
    text-align: center;
    text-decoration: underline;
}

#date, #wind, #humid, #temp{
    font-size: 15px;
    font-weight: bold;
}

p{
    text-decoration: underline;
}