#city1, #city {
  font-weight: bold;
  font-size: 30px;
}

body {
    background: linear-gradient(90deg, hsla(348, 88%, 66%, 1) 0%, hsla(36, 89%, 68%, 1) 100%);
}

.header {
  margin: 2rem;
}


#date{
    float:left;
}

#icon{
    max-width: 100%;
    height: 8rem;
    float: right;
}

#city{
    text-align: center;
    text-decoration: underline;
}

#date, #wind, #humid, #temp{
    font-size: 15px;
    font-weight: bold;
}

p{
    text-decoration: underline;
}